<h2>About ICS</h2>
<br>
<div class="well">
  <h4>Intermediate Climbing School (ICS) is an intensive, challenging, fun, and rewarding experience. At no other point in your climbing career are you likely to see your climbing skills advance more dramatically within a single, relatively short span of time. You will learn a lot!  We pick up where BCEP left off and take you to the next level where you will learn the skills necessary to be a strong assistant on advanced Mazama climbs, organize private climbs of your own, and for those who choose, take the next step into Climb Leader Development.  You will also acquire the skills you’ll need to go out and gain the climbing experience necessary for entry into the advanced Mazama programs: Advance Rock (AR) and Advanced Snow and Ice (ASI).</h4>
  <br>
  <h4>The curriculum will include additional knots, additional belay and rappel techniques, glacier travel, rock and snow anchor building, map and compass navigation, avalanche danger assessment, avalanche transceiver training, accident management training, crevasse rescue, snow camping, high angle snow climbing, 5th class rock climbing, and seconding/cleaning 5th class Trad.</h4>
  <br>
  <h4>A team of 12 former students makes up the ICS Committee that runs the class. Instructors for the class varies from year to year, but typically about 80 former students return to teach. A typical year will have 40-44 students.</h4>
</div>
