<h2>Class Roster</h2>

<div>
  <select class="select" (change)="onRoleChange(roleSelection.value)">
    <option value="allProfile" selected="selected">Show All Profiles</option>
    <option value="Student">Student Profiles</option>
    <option value="Committee">Committee Member Profiles</option>
    <option value="Instructor">Instructor Profiles</option>
  </select>
</div>

<div *ngFor="let profile of profiles | async | role:filterByRole">
  <div class="well">
    <h3 (click)="goToDetailPage(profile)">{{profile.name}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <ul>
        <li>{{profile.email}}</li>
        <li>{{profile.phone}}</li>
        <li>{{profile.role}}</li>
      </ul>
      <app-edit-profile [selectedProfile]="profile"></app-edit-profile>
    </div>
  </div>
</div>
